<!--================ Banner SM Section start =================-->
<section class="hero-banner hero-banner-sm text-center">
    <div class="container">
        <h1>Our Services</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Services</li>
            </ol>
        </nav>
    </div>
</section>
<!--================ Banner SM Section end =================-->
<!--================ Service section start =================-->
<section class="section-margin mb-5">
    <div class="container">
        <div class="section-intro pb-85px text-center">
            <h2>Hight Quality Service</h2>
            <div class="section-style"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="img/home/png/006-server.png" alt="">
                    </div>
                    <h3>SSD Cloud Hosting</h3>
                    <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="img/home/png/004-home-page.png" alt="">
                    </div>
                    <h3>Free Domain Transfer</h3>
                    <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="img/home/png/007-server-1.png" alt="">
                    </div>
                    <h3>Best Hosting Service</h3>
                    <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="img/home/png/002-shield.png" alt="">
                    </div>
                    <h3>Strong Backup</h3>
                    <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="img/home/png/008-mail.png" alt="">
                    </div>
                    <h3>Email Service</h3>
                    <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="img/home/png/009-art.png" alt="">
                    </div>
                    <h3>Data Analysis</h3>
                    <p>Man greater image shall land air winged replenish whose winged great fifth fruitful Set days sealand over great  </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Service section end =================-->
